:root {
  --color-lila: #C291F2;
  --color-texto: #000000;
  --color-fussia: #D504D9;
  --color-azul: #79C4F2;
  --color-mostaza: #F2B705;
  --color-naranja: #F28705;
  --color-input: #EEF5F9;
  --color-blanquito: #ffffff;
  --color-celeste: #79C4F2;
  --color-rgba-rojo: rgba(255, 0, 0, 0.1);
  --color-rojo: #FF0000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Asegura que los elementos estén alineados verticalmente */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-lila);
  border-bottom: 1px solid var(--color-gray);
  text-decoration: none;
  padding: 10px 20px; /* Espaciado alrededor del header */
}

.header__page-name {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  font-size: 16px; /* Aumenta el tamaño de fuente para mejorar la visibilidad */
  color: var(--color-blanquito);
  flex: 1 1;
  text-decoration: none;
  margin-left: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
}

/* Estilo de la imagen */
.header__logo {
  width: 50px; /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-right: 10px; /* Espaciado entre la imagen y el texto */
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Ajusta la imagen para que no se distorsione */
  transition: transform 0.3s ease; /* Agrega una transición para el zoom */
}

/* Efecto de zoom */
.header__page-name:hover .header__logo {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño de la imagen al hacer hover */
}

.header__navbar {
  display: flex;
  list-style: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  flex: 1 1;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  text-decoration: none;
  border-left: 1px solid var(--color-blanquito);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.header__link:hover {
  transform: scale(1.1); 
  background-color: var(--color-azul);
  cursor: pointer;
}

@media (max-width: 600px) {
  .header__link {
    border-left: none;
  }
}

.header__link a {
  color: var(--color-blanquito);
  text-decoration: none;
}
