:root {
  --color-lila: #C291F2;
  --color-texto: #000000;
  --color-fussia: #D504D9;
  --color-azul: #79C4F2;
  --color-mostaza: #F2B705;
  --color-naranja: #F28705;
  --color-input: #EEF5F9;
  --color-blanquito: #ffffff;
  --color-celeste: #79C4F2;
  --color-rgba-rojo: rgba(255, 0, 0, 0.1);
  --color-rojo: #FF0000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-lila);
  border-bottom: 1px solid var(--color-gray);
  text-decoration: none;
}
.header__logo {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px; /* Ajusta el tamaño de la imagen */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Asegura que la imagen no se distorsione */
  padding-left: 15px; /* Ajusta el espacio en el lado izquierdo */
  padding-right: 15px; /* Ajusta el espacio en el lado derecho */
}

.header__page-name {
  font-size: 12px;
  color: var(--color-blanquito);
  text-decoration: none;
  display: flex;
  align-items: center; /* Asegura que el texto y la imagen estén alineados */
  transition: transform 0.3s ease;
}

/* Efecto de zoom */
.header__page-name:hover {
  transform: scale(1.008); 
}
.header__navbar {
  display: flex;
  list-style: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  flex: 1 1;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  text-decoration: none;
  border-left: 1px solid var(--color-blanquito);
  transition: transform 0.3s ease, background-color 0.3s ease; /* Agrega una transición */
}

/* Estilos para el hover */
.header__link:hover {
  transform: scale(1.1); /* Escalar el elemento */
  background-color: var(--color-azul); /* Cambiar color de fondo al hacer hover */
  cursor: pointer; /* Cambiar el cursor a puntero */
}

@media (max-width: 600px) {
  .header__link {
    border-left: none;
  }
}

.header__link a {
  color: var(--color-blanquito);
  text-decoration: none;
}
