.product-info {
  font-size: 18px;
  padding: 10px;
}

.product-info__img img {
  max-height: 400px;
  object-fit: contain;
}

@media (min-width: 700px) {
  .product-info {
    display: flex;
    align-items: center;
  }

  .product-info__img {
    width: 50%;
  }

  .product-info__info {
    width: 50%;
  }
}

.product-info__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-info__container-price {
  flex: 1 1;
}

.product-info__price-title,
.product-info__quantity-title {
  color: var(--color-gray);
  font-weight: normal;
}

.product-info__price {
  font-weight: bold;
  margin-left: 10px;
}

.product-info__container-quantity {
  flex: 1 1;
}

.product-info__container-counter {
  display: flex;
  margin-left: 10px;
}

.product-info__counter {
  padding: 10px;
  border: 1px solid var(--color-gray);
}

.product-info__minus,
.product-info__plus {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid var(--color-gray);
}

.product-info__btn {
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--color-red);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
