:root {
  --color-lila: #C291F2; 
  --color-lilaclaro: #e1d2ef; /* Color lila claro */
  --color-texto: #000000;
  --color-fussia: #D504D9;
  --color-azul: #79C4F2;
  --color-mostaza: #F2B705;
  --color-naranja: #F28705;
  --color-input: #EEF5F9;
  --color-blanquito: #ffffff;
  --color-celeste: #79C4F2;
  --color-rgba-rojo: rgba(255, 0, 0, 0.1);
  --color-rojo: #FF0000;
}

.home {
  margin: 0 auto;
  max-width: 1200px;
}

.home__form {
  width: max-content;
  margin: 20px auto;
  border: 1px solid var(--color-gray);
}

.home__form-input {
  color: var(--color-gray);
  padding: 10px 40px 10px 10px;
  border: none;
  font-size: 14px;
}

.home__form-input::placeholder {
  color: var(--color-gray);
}

.home__form-btn {
  font-size: 14px;
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--color-celeste);
  cursor: pointer;
}

.home__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  grid-template-rows: auto;
  gap: 40px;
  margin: 0 20px 20px 20px;
}
