:root {
  --color-lila: #C291F2; 
  --color-lilaclaro: #E6DFF1; /* Color lila claro ajustado */
  --color-texto: #333333; /* Texto en gris oscuro */
  --color-fussia: #D504D9;
  --color-azul: #79C4F2;
  --color-mostaza: #F2B705;
  --color-naranja: #FF914D; /* Naranja ajustado para botones */
  --color-input: #F3E9FA; /* Fondo para inputs */
  --color-blanquito: #ffffff;
  --color-celeste: #A3D2F2; /* Azul celeste suave */
  --color-rgba-rojo: rgba(255, 0, 0, 0.1);
  --color-rojo: #E74C3C; /* Rojo suave para acentos */
}

.login {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif; 
  align-items: center;
  height: calc(100vh - 60.7px);
  background-color: var(--color-lilaclaro); /* Fondo lila claro */
}

.login__form,
.login__logged {
  text-align: center;
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blanquito); /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 10px;
}

.login__logged-icon {
  font-size: 100px;
  color: var(--color-fussia); /* Ícono en color fucsia */
}

.login__logged-btn {
  border: none;
  background-color: var(--color-naranja); /* Botón naranja */
  color: var(--color-blanquito);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.login__title {
  font-family: Arial, sans-serif; 
  text-align: start;
  font-size: 23px;
  color: var(--color-texto); /* Texto en gris oscuro */
}

.login__container-test {
  background-color: var(--color-lila); /* Fondo para contenedor de prueba */
  width: 100%;
  border-radius: 10px;
  text-align: start;
  padding: 0 15px;
  margin-bottom: 20px;
}

.login__test-title {
  text-align: center;
  color: var(--color-texto);
}

.login__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  gap: 5px;
}

.login__input {
  padding: 10px 15px;
  border: 1px solid var(--color-lila); /* Borde lila */
  font-size: 15px;
  background-color: var(--color-blanquito); /* Fondo blanco para inputs */
}

.login__btn {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: var(--color-fussia); /* Botón de envío en fucsia */
  color: var(--color-blanquito);
  cursor: pointer;
}

.login__text-footer span {
  color: #79C4F2;
  cursor: pointer;
  font-weight: bold;
}

.login__text-footer span:hover {
  text-decoration: underline;
}