:root {
  --color-lila: #C291F2; 
  --color-lilaclaro: #e1d2ef; /* Color lila claro */
  --color-texto: #000000;
  --color-fussia: #D504D9;
  --color-azul: #79C4F2;
  --color-mostaza: #F2B705;
  --color-naranja: #F28705;
  --color-input: #EEF5F9;
  --color-blanquito: #ffffff;
  --color-celeste: #79C4F2;
  --color-rgba-rojo: rgba(255, 0, 0, 0.1);
  --color-rojo: #FF0000;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60.7px);
  background-color: hsla(0, 1%, 72%, 0.1);
}

.login__form,
.login__logged {
  text-align: center;
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: --color-celeste;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 10px;
}

.login__logged-icon {
  font-size: 100px;
}

.login__logged-btn {
  border: none;
  background-color: var(--color-red);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.login__title {
  text-align: start;
  font-size: 23px;
}

.login__container-test {
  background-color: #d8f5fd;
  width: 100%;
  border-radius: 10px;
  text-align: start;
  padding: 0 15px;
  margin-bottom: 20px;
}

.login__test-title {
  text-align: center;
}

.login__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  gap: 5px;
}

.login__input {
  padding: 10px 15px;
  border: 1px solid var(--color-gray);
  font-size: 15px;
}

.login__btn {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: var(--color-red);
  color: white;
  cursor: pointer;
}

.login__text-footer {
  width: 100%;
  font-size: 15px;
  text-align: start;
  margin: 0;
  margin-top: 20px;
}
